body {
    color: black;
}

.body-card {
    width: 100%;
    padding: 10px 25px;
    left: 0%;
    text-align: left;
    background-color: white;
    color: black;
}

.formimg {
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.bg-img {
    background-image: url("https://source.unsplash.com/xch7jXAaqqo");
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.inscrever_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    display: block;
}

.inscrever_description {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    display: block;
}

#personas {
    font-size: .8rem !important;
    border-radius: 10rem !important;
    height: 50px;
}

#texto {
    position: relative;
    text-align: center;
    line-height: 500px;
}

/*pagina de agradecimento*/

.obrigado {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    flex-direction: column;
}

.texto {
    font-size: 45px;
    color: rgb(27, 126, 126);
    margin-bottom: 30px;
}

.paragrafo {
    color: rgb(79, 139, 136);
    margin-bottom: 50px;
    font-size: 20px;
}

.btnobri {
    padding: 15px 55px;
    background: rgb(99, 110, 110);
    text-decoration: none;
    color: rgb(204, 222, 235);
    font-size: 20px;
    transition: all 0.5s;
}

.btnobri:hover {
    border-radius: 16px;
}